<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Logs</title>

    <style>
        table {
            border: 1px solid black,
        }
        td, th {
            border: 1px solid black,
        }

    </style>

</head>
<body>
    <h1>Food Insights</h1>
    <h2>Time period: {{date_start}} - {{date_end}}</h2>
        
    <br>

    <h2>Total nutrients consumed during this period</h2>

    {% set proxs = food_totals[0] %}
    {% set inorgs = food_totals[1] %}
    {% set nutrs = food_totals[2] %}

    <table>
        <!-- Table headers -->
        <tr>
            <th>Calories (kcal)</th>
            <th>Carbohydrates (g)</th>
            <th>Fat (g)</th>
            <th>Protein (g)</th>
            <th>Sugars (g)</th>
            <th>Water (g)</th>
            <th>Sodium (mg)</th>
            <th>Potassium (mg)</th>
            <th>Calcium (mg)</th>
            <th>Magnesium (mg)</th>
            <th>Iron (mg)</th>
            <th>Copper (mg)</th>
            <th>Zinc (mg)</th>
            <th>Manganese (mg)</th>
        </tr>
        <tr>
            <td>{{proxs["calories"]}}</td>
            <td>{{proxs["carbohydrate"]}}</td>
            <td>{{proxs["fat"]}}</td>
            <td>{{proxs["protein"]}}</td>
            <td>{{proxs["sugar"]}}</td>
            <td>{{proxs["water"]}}</td>
            <td>{{inorgs["sodium"]}}</td>
            <td>{{inorgs["potassium"]}}</td>
            <td>{{inorgs["calcium"]}}</td>
            <td>{{inorgs["magnesium"]}}</td>
            <td>{{inorgs["iron"]}}</td>
            <td>{{inorgs["copper"]}}</td>
            <td>{{inorgs["zinc"]}}</td>
            <td>{{inorgs["manganese"]}}</td>
        </tr>

    </table>

    <br>

    <h2>Average nutrient consumption per day</h2>
    <table>
        <!-- Table headers -->
        <tr>
            <th>Calories (kcal)</th>
            <th>Carbohydrates (g)</th>
            <th>Fat (g)</th>
            <th>Protein (g)</th>
            <th>Sugars (g)</th>
            <th>Water (g)</th>
            <th>Sodium (mg)</th>
            <th>Potassium (mg)</th>
            <th>Calcium (mg)</th>
            <th>Magnesium (mg)</th>
            <th>Iron (mg)</th>
            <th>Copper (mg)</th>
            <th>Zinc (mg)</th>
            <th>Manganese (mg)</th>
        </tr>
        <tr>
            <td>{{food_avg["calories"]}}</td>
            <td>{{food_avg["carbohydrate"]}}</td>
            <td>{{food_avg["fat"]}}</td>
            <td>{{food_avg["protein"]}}</td>
            <td>{{food_avg["sugar"]}}</td>
            <td>{{food_avg["water"]}}</td>
            <td>{{food_avg["sodium"]}}</td>
            <td>{{food_avg["potassium"]}}</td>
            <td>{{food_avg["calcium"]}}</td>
            <td>{{food_avg["magnesium"]}}</td>
            <td>{{food_avg["iron"]}}</td>
            <td>{{food_avg["copper"]}}</td>
            <td>{{food_avg["zinc"]}}</td>
            <td>{{food_avg["manganese"]}}</td>
        </tr>

    </table>




</body>
</html>